@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/firasans-700.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400-italic.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2");
  font-display: swap;
}

:root {
  --basic-red: #ee3643;
  --basic-red-hover: #ca2c37;
  --basic-green: #63a63e;
  --basic-green-click: #518534;
  --basic-blue: #3d546f;
  --basic-blue-dark: #293449;
  --basic-grey-light: #c5c5c5;
  --basic-grey-extralight: #f3f7f9;
  --basic-background: #f1f5f7;
  --basic-white: #ffffff;
  --basic-dark: #32425c;
  --basic-black: #000000;

  --special-yellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  --special-greenlight: #8ed78f;
  --special-yellowlight: #ffd180;
  --special-grey: #a9a9a9;
  --special-grey-light: #eaeaea;

  --status-error: #ba2732;
  --status-warning: #ffbf47;
  --status-success: #5fbb2d;

  --cursor-pointer: url("../images/icons/pointer.svg"), pointer;
  --focus-default: 0 0 0 2px var(--basic-white),
                   0 0 3px 5px var(--basic-blue-dark);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font: 16px/24px "PT Sans", Arial, Tahoma, sans-serif;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.main {
  flex-grow: 1;
}

.container {
  width: 1400px;
  margin: 0 auto;
  padding: 0 115px;
}

.heading {
  margin: 0;
  font: 700 36px/42px "Fira Sans", Arial, Tahoma, sans-serif;
  text-transform: uppercase;
}

.subheading {
  margin: 0;
  font: 700 24px/30px "PT Sans", Arial, Tahoma, sans-serif;
  text-transform: uppercase;
}

.header {
  transform: translateX(-4px);
}

.header__row--white {
  background-color: var(--basic-grey-extralight);
}

.header__row--darkblue {
  background-color: var(--basic-blue-dark);
}

.header__row--blue {
  background-color: var(--basic-blue);
}

.header__row-content {
  display: flex;
  background: inherit;
}

.header__row--white .header__row-content {
  padding-top: 13px;
  padding-bottom: 14px;
}

.header__title {
  margin: 0;
  margin-right: auto;
  padding-left: 6px;
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-red);
}

.header__address {
  margin: 0;
  margin-right: 34px;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-dark);
}

.header__phone {
  padding-left: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 2px;
  color: var(--basic-blue-dark);
  text-transform: uppercase;
  text-decoration: none;
  background-image: url("../images/icons/phone.svg");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 16px 16px;
}

.header__phone:focus {
  opacity: 0.6;
  outline: none;
}

.header__phone:hover {
  opacity: 0.6;
  cursor: var(--cursor-pointer);
}

.header__phone:active {
  opacity: 0.4;
}

.logo {
  display: block;
  width: max-content;
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  padding: 12px 57px 15px;
  background: var(--basic-red);
  box-shadow: 0 5px 0 rgb(0 0 0 / 24%),
              0 5px 0 var(--basic-red);
}

.logo__image {
  display: block;
}

.form-search {
  flex-grow: 1;
  margin-right: 17px;
}

.form-search__field {
  flex-grow: 1;
  display: flex;
  position: relative;
  min-height: 100%;
}

.form-search__input {
  width: 100%;
  padding-left: 52px;
  padding-bottom: 4px;
  border: 0;
  font: 400 16px/24px "PT Sans", Arial, Tahoma, sans-serif;
  color: var(--basic-white);
  background: none;
}

.form-search__input::placeholder {
  font: 400 16px/24px "PT Sans", Arial, Tahoma, sans-serif;
  color: var(--basic-white);
}

.filter-search__icon {
  position: absolute;
  top: 50%;
  left: 20px;
  color: var(--basic-white);
  fill-opacity: 0.3;
  transform: translateY(-50%);
}

.form-search:focus-within .form-search__input {
  color: var(--basic-blue-dark);
  background-color: var(--basic-background);
  outline: none;
}

.form-search:focus-within .form-search__input::placeholder {
  color: var(--basic-grey-light);
}

.form-search:focus-within .form-search__input ~ .filter-search__icon {
  color: #405069;
  fill-opacity: 1;
}

.form-search__reset {
  position: absolute;
  top: 50%;
  right: 15px;
  display: none;
  width: 24px;
  height: 24px;
  border: 0;
  border-radius: 4px;
  padding: 0;
  background: none;
  background-image: url("../images/icons/cross.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center center;
  transform: translateY(-50%);
}

.form-search:focus-within .form-search__reset {
  display: block;
}

.form-search__reset:focus {
  opacity: 0.6;
  box-shadow: inset 0 0 0 2px var(--basic-blue);
  outline: none;
}

.form-search__reset:hover {
  opacity: 0.6;
  cursor: var(--cursor-pointer);
}

.form-search__reset:active {
  opacity: 0.4;
}

.form-search__reset:disabled {
  opacity: 0.2;
  pointer-events: none;
}

.button {
  display: block;
  padding: 10px;
  border: 0;
  border-radius: 4px;
  font: 700 14px/18px "PT Sans", Arial, Tahoma, sans-serif;;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  background: none;
}

.button:focus {
  box-shadow: var(--focus-default);
}

.button--green {
  padding: 12px 11px;
  color: var(--basic-white);
  background-color: var(--basic-green);
}

.button--green:hover {
  background-color: var(--status-success);
  cursor: var(--cursor-pointer);
}

.button--green:active {
  background-color: var(--basic-green-click);
}

.button--red {
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.button--red:hover,
.button--red:hover::after {
  background-color: var(--basic-red-hover);
  cursor: var(--cursor-pointer);
}

.button--red:active,
.button--red:active::after {
  background-color: var(--status-error);
}

.button--simple {
  color: var(--basic-background);
}

.button--login {
  max-width: 300px;
  padding-left: 26px;
  padding-right: 0;
  background-image: url("../images/icons/login.svg");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 16px 16px;
}

.button--login:focus {
  opacity: 0.6;
  outline: none;
}

.button--login:hover {
  opacity: 0.6;
  cursor: var(--cursor-pointer);
}

.button--login:active {
  opacity: 0.4;
}

.button--login:disabled {
  opacity: 0.2;
  pointer-events: none;
}

.navigation {
  margin-right: auto;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  width: 810px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__link {
  display: block;
  min-width: 74px;
  padding: 19px 8px 27px;
  color: var(--basic-white);
  text-decoration: none;
  text-align: center;
}

.menu__item:first-child .menu__link {
  padding-left: 4px;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.user-menu__item {
  min-width: 26px;
  min-height: 26px;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 18px 18px;
  color: var(--basic-white);
  text-decoration: none;
}

.user-menu__item--favorite {
  background-image: url("../images/icons/bookmark.svg");
  background-size: 16px 18px;
  background-position: top 45% left 2px;
}

.user-menu__item--cart {
  background-image: url("../images/icons/cart.svg");
  background-position: top 45% left;
}

.user-menu__item--button {
  align-self: flex-start;
  margin-top: 11px;
}

.menu__link:focus,
.menu__link:hover,
.user-menu__item:not(.user-menu__item--button):hover {
  color: var(--basic-grey-light);
  background-color: var(--basic-dark);
  cursor: var(--cursor-pointer);
  outline: none;
}

.menu__link:active {
  color: var(--basic-white);
}

.user-menu__counter {
  display: block;
  margin-top: 20px;
  padding-left: 24px;
}

.promo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
  gap: 30px;
  margin-bottom: 50px;
  padding-top: 52px;
  color: var(--basic-white);
}

.promo__tile {
  display: flex;
  flex-direction: column;
  min-height: 180px;
  padding: 20px 165px 33px 25px;
  background-repeat: no-repeat;
  background-position: top 45px right 37px;
  background-size: 90px 90px;
}

.promo__tile--paints {
  background-image: url("../images/icons/paints.svg");
}

.promo__tile--tool {
  background-image: url("../images/icons/tool.svg");
}

.promo__tile--equipment {
  background-image: url("../images/icons/equipment.svg");
}

.promo__tile--sale {
  background-image: url("../images/icons/sale.svg");
}

.promo__tile--delivery {
  background-image: url("../images/icons/delivery-big.svg");
}

.item-new {
  position: relative;
  overflow: hidden;
}

.item-new::after {
  position: absolute;
  top: 7px;
  right: -28px;
  display: block;
  width: 100px;
  height: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-red);
  transform: rotate(45deg);
  content: "new";
}

.promo__tile:first-of-type,
.promo__tile:nth-of-type(2),
.promo__tile:nth-of-type(3) {
  margin-bottom: -3px;
}

.promo__tile:first-of-type,
.promo__tile:nth-of-type(6n) {
  background-color: var(--special-yellow);
}

.promo__tile:nth-of-type(6n-4) {
  background-color: var(--special-blue);
}

.promo__tile:nth-of-type(6n-3) {
  background-color: var(--special-lilac);
}

.promo__tile:nth-of-type(6n-2) {
  background-color: var(--basic-blue);
}

.promo__tile:nth-of-type(6n-1) {
  background-color: var(--special-greenlight);
}

.promo__tile--big {
  grid-column: span 2;
  grid-row: span 2;
  padding: 0;
}

.promo__title {
  margin-bottom: 10px;
}

.promo__link {
  display: block;
  margin-top: auto;
  padding: 11px 10px 9px 33px;
  border: 1px solid var(--basic-white);
  border-radius: 0;
  color: inherit;
  background-image: url("../images/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center left 11px;
}

.promo__link:focus {
  border-color: var(--basic-dark);
  outline: none;
}

.promo__link:hover {
  cursor: var(--cursor-pointer);
  opacity: 0.6;
}

.promo__link:active {
  border-color: var(--basic-white);
  opacity: 0.4;
}

.slider__slide-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__slide {
  display: flex;
  flex-direction: column;
}

.slider__image {
  order: -1;
  margin-bottom: -390px;
}

.slider__toggle {
  position: absolute;
}

.slider__pagination {
  position: absolute;
}

.catalog {
  display: grid;
  grid-template-columns: 220px 1fr;
  column-gap: 79px;
}

.catalog__heading {
  grid-column: span 2;
  margin-bottom: 26px ;
}

.catalog__content {
  padding-top: 33px;
  padding-bottom: 53px;
}

.control-select {
  position: relative;
  max-width: max-content;
  margin-bottom: 31px;
}

.control-select__field {
  min-width: 280px;
  padding: 7px 32px 7px 16px;
  border: 1px solid var(--basic-blue);
  border-radius: 2px;
  font: inherit;
  color: var(--basic-blue-dark);
  appearance: none;
  cursor: var(--cursor-pointer);
}

.control-select__icon {
  position: absolute;
  top: 50%;
  right: 11px;
  transform: translateY(-50%);
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 29px 30px;
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.products__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 27px 27px 25px;
  border: 1px solid var(--special-grey-light);
  border-radius: 2px;
}

.products__image {
  order: -1;
  display: block;
  margin-bottom: 13px;
}

.products__title {
  margin: 0;
  margin-bottom: 41px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: var(--basic-blue-dark);
  text-align: center;
}

.products__old-price {
  margin-bottom: -18px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  text-align: center;
  color: var(--special-grey);
  transform: translateY(-28px);
}

.products__price {
  min-width: 122px;
  align-self: center;
  padding: 11px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  transform: translateX(-9px);
}

.products__price::after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 28px;
  height: 28px;
  border-radius: 4px;
  background-color: var(--basic-red);
  transform: translate(40%, -50%) rotate(-45deg);
  content: "";
}

.products__price:hover {
  cursor: var(--cursor-pointer);
}

.products__button-list {
  position: absolute;
  top: 65px;
  left: calc(50% + 4px);
  display: none;
  flex-direction: column;
  gap: 11px;
  min-width: 135px;
  transform: translateX(-50%);
}

.products__button {
  padding: 11px;
}

.products__button--buy {
  padding-left: 30px;
  border-radius: 2px;
  color: var(--basic-white);
  background-color: var(--basic-green);
  background-image: url("../images/icons/cart.svg");
  background-repeat: no-repeat;
  background-position: center left 23px;
  background-size: 14px 14px;
}

.products__button--bookmark {
  padding: 9px 11px;
  border: 2px solid var(--basic-green);
  border-radius: 2px;
  color: var(--basic-dark);
  background: var(--basic-white);
}

.products__button--bookmark:hover {
  border-color: var(--basic-dark);
}

.products__button--bookmark:active {
  color: var(--basic-grey-light);
  border-color: var(--basic-grey-light);
}

.products__item:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.products__item:hover .products__image {
  opacity: 0.1;
}

.products__item:hover .products__button-list {
  display: flex;
}

.products__button:hover {
  cursor: var(--cursor-pointer);
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 17px;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__link {
  display: block;
  min-width: 50px;
  padding: 15px 14px 14px;
  border-radius: 2px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.pagination__link:focus {
  outline: none;
  box-shadow: var(--focus-default);
}

.pagination__link:hover {
  color: var(--basic-white);
  background-color: var(--basic-blue-dark);
  cursor: var(--cursor-pointer);
}

.pagination__link:active {
  opacity: 0.4;
}

.pagination__item.current .pagination__link {
  color: var(--basic-blue);
  background-color: var(--basic-white);
}

.pagination__button {
  padding: 13px 37px 14px;
}

.services {
  padding: 52px 0;
  background-color: var(--basic-grey-extralight);
}

.services__heading {
  margin-bottom: 30px;
  text-align: center;
}

.services__description {
  width: 556px;
  margin: 0 auto 65px;
  padding-left: 4px;
  font-size: 18px;
  color: var(--basic-blue-dark);
}

.services__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__item {
  display: flex;
  flex-direction: column;
  padding: 31px 24px 43px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  background: #FFFFFF;
}

.services__title {
  margin-bottom: 21px;
}

.services__text {
  margin: 0;
  padding: 0 2px;
}

.services__icon {
  order: -1;
  margin-bottom: 46px;
  color: var(--basic-red-hover);
}

.section-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 170px;
  padding-top: 52px;
  padding-bottom: 48px;
}

.about-us__heading,
.contacts__heading {
  margin-bottom: 22px;
}

.about-us__text,
.contacts__text {
  margin-top: 0;
  margin-bottom: 26px;
}

.about-us__button {
  display: inline-block;
  margin-top: 25px;
  padding: 13px 45px 14px;
}

.footer {
  background-color: var(--basic-dark);
  color: var(--basic-white);
}

.footer__copyrights {
  padding-top: 20px;
  padding-bottom: 22px;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-blue-dark);
}

.footer__content {
  display: flex;
  justify-content: space-between;
  padding-top: 29px;
  padding-bottom: 33px;
}

.footer__content--copyrights {
  padding-top: 0;
  padding-bottom: 0;
}

.footer__column:last-child {
  text-align: right;
}

.footer__logo {
  margin-top: -29px;
  margin-bottom: 26px;
  padding: 13px 58px 17px 55px;
}

.footer__contacts {
  width: 330px;
  margin-top: 0;
  margin-bottom: 23px;
}

.footer__text,
.form-subscribe__description {
  margin: 0;
}

.footer__link {
  color: var(--special-yellowlight);
  text-decoration: none;
}

.footer__link--offset {
  display: block;
  margin-bottom: 29px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  margin: 0;
  padding: 0 1px;
  list-style: none;
}

.social__link {
  display: block;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-position: center center;
}

.social__link--pinterst {
  background-image: url("../images/icons/social-pinterest.svg");
}

.social__link--vk {
  background-image: url("../images/icons/social-vk.svg");
}

.social__link--vsco {
  background-image: url("../images/icons/social-vsco.svg");
}

.social__link:hover {
  background-color: var(--basic-blue-dark);
}
