@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/firasans-700.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400-italic.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2");
  font-display: swap;
}

:root {
  --basic-red: #ee3643;
  --basic-red-hover: #ca2c37;
  --basic-green: #63a63e;
  --basic-green-click: #518534;
  --basic-blue: #3d546f;
  --basic-blue-dark: #293449;
  --basic-grey-light: #c5c5c5;
  --basic-grey-extralight: #f3f7f9;
  --basic-background: #f1f5f7;
  --basic-white: #ffffff;
  --basic-dark: #32425c;
  --basic-black: #000000;

  --special-yellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-blue-dark: #405069;
  --special-lilac: #dc91d8;
  --special-green-light: #8ed78f;
  --special-yellow-light: #ffd180;
  --special-grey: #a9a9a9;
  --special-grey-light: #eaeaea;
  --special-grey-extralight: #f7f3ec;

  --status-error: #ba2732;
  --status-warning: #ffbf47;
  --status-success: #5fbb2d;

  --cursor-pointer: url("../images/icons/pointer.svg"), pointer;
  --focus-default: 0 0 0 2px var(--basic-white),
                   0 0 3px 5px var(--basic-blue-dark);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font: 16px/24px "PT Sans", Arial, Tahoma, sans-serif;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.main {
  flex-grow: 1;
}

.container {
  width: 1400px;
  margin: 0 auto;
  padding: 0 115px;
}

.heading {
  margin: 0;
  font: 700 36px/42px "Fira Sans", Arial, Tahoma, sans-serif;
  text-transform: uppercase;
}

.subheading {
  margin: 0;
  font: 700 24px/30px "PT Sans", Arial, Tahoma, sans-serif;
  text-transform: uppercase;
}

.header {
  position: relative;
  z-index: 1;
  margin-left: -4px;
}

.header__row--white {
  background-color: var(--basic-grey-extralight);
}

.header__row--darkblue {
  background-color: var(--basic-blue-dark);
}

.header__row--blue {
  background-color: var(--basic-blue);
}

.header__row-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  row-gap: 10px;
  background: inherit;
}

.header__row--white .header__row-content {
  padding-top: 13px;
  padding-bottom: 14px;
}

.header__title {
  min-width: 500px;
  max-width: 600px;
  margin: 0;
  margin-right: auto;
  padding-left: 6px;
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-red);
}

.header__address {
  flex-shrink: 0;
  max-width: 300px;
  margin: 0;
  margin-right: 34px;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-dark);
}

.header__phone {
  flex-shrink: 0;
  max-width: 200px;
  padding-left: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 2px;
  color: var(--basic-blue-dark);
  text-transform: uppercase;
  text-decoration: none;
  background-image: url("../images/icons/phone.svg");
  background-repeat: no-repeat;
  background-position: top 1px left;
  background-size: 16px 16px;
}

.header__phone:focus {
  box-shadow: var(--focus-default);
  opacity: 0.6;
  outline: none;
}

.header__phone:hover {
  opacity: 0.6;
  cursor: var(--cursor-pointer);
}

.header__phone:active {
  opacity: 0.4;
}

.logo {
  flex-shrink: 0;
  align-self: flex-start;
  display: block;
  width: max-content;
  position: relative;
  z-index: 1;
  padding: 12px 57px 15px;
  background: var(--basic-red);
  box-shadow: 0 5px 0 rgb(0 0 0 / 24%),
              0 5px 0 var(--basic-red);
}

.logo__image {
  display: block;
}

.form-search {
  position: relative;
  flex-grow: 1;
  margin-right: 17px;
}

.form-search__field {
  flex-grow: 1;
  display: flex;
  position: relative;
  min-height: 100%;
}

.form-search__input {
  width: 100%;
  min-width: 450px;
  padding: 9px 52px 12px;
  border: 0;
  font: 400 16px/24px "PT Sans", Arial, Tahoma, sans-serif;
  color: var(--basic-white);
  background: none;
}

.form-search__input::placeholder {
  font: 400 16px/24px "PT Sans", Arial, Tahoma, sans-serif;
  color: var(--basic-white);
}

.filter-search__icon {
  position: absolute;
  top: 50%;
  left: 20px;
  color: var(--basic-white);
  fill-opacity: 0.3;
  transform: translateY(-50%);
}

.form-search:focus-within .form-search__input {
  color: var(--basic-blue-dark);
  background-color: var(--basic-background);
  outline: none;
}

.form-search:focus-within .form-search__input::placeholder {
  color: var(--basic-grey-light);
}

.form-search:focus-within .form-search__input ~ .filter-search__icon {
  color: var(--special-blue-dark);
  fill-opacity: 1;
}

.form-search__reset {
  position: absolute;
  top: 50%;
  right: 15px;
  display: none;
  width: 24px;
  height: 24px;
  border: 0;
  border-radius: 4px;
  padding: 0;
  background: none;
  background-image: url("../images/icons/cross.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center center;
  transform: translateY(-50%);
}

.form-search:focus-within .form-search__reset {
  display: block;
}

.form-search__reset:focus {
  opacity: 0.6;
  box-shadow: inset 0 0 0 2px var(--basic-blue);
  outline: none;
}

.form-search__reset:hover {
  opacity: 0.6;
  cursor: var(--cursor-pointer);
}

.form-search__reset:active {
  opacity: 0.4;
}

.form-search__reset:disabled {
  opacity: 0.2;
  pointer-events: none;
}

.button {
  display: block;
  padding: 10px;
  border: 0;
  border-radius: 4px;
  font: 700 14px/18px "PT Sans", Arial, Tahoma, sans-serif;;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  background: none;
}

.button:focus {
  box-shadow: var(--focus-default);
  outline: none;
}

.button:disabled {
  opacity: 0.2;
  pointer-events: none;
}

.button--green {
  padding: 12px 11px;
  color: var(--basic-white);
  background-color: var(--basic-green);
}

.button--green:hover {
  background-color: var(--status-success);
  box-shadow: none;
  cursor: var(--cursor-pointer);
}

.button--green:active {
  background-color: var(--basic-green-click);
}

.button--red {
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.button--red:hover,
.button--red:hover::after {
  background-color: var(--basic-red-hover);
  box-shadow: none;
  cursor: var(--cursor-pointer);
}

.button--red:active,
.button--red:active::after {
  background-color: var(--status-error);
}

.button--simple {
  color: var(--basic-background);
}

.button--simple:focus {
  opacity: 0.6;
  outline: none;
}

.button--simple:hover {
  opacity: 0.6;
  cursor: var(--cursor-pointer);
}

.button--simple:active {
  opacity: 0.4;
}

.button--simple:disabled {
  opacity: 0.2;
  pointer-events: none;
}

.button--transparent {
  padding: 9px 11px;
  border: 2px solid var(--basic-green);
  border-radius: 2px;
  color: var(--basic-dark);
  text-align: center;
  background: var(--basic-white);
}

.button--transparent:hover {
  border-color: var(--basic-dark);
}

.button--transparent:active {
  color: var(--basic-grey-light);
  border-color: var(--basic-grey-light);
}

.button--login,
.button--logout,
.button--profile {
  max-width: 200px;
  padding-left: 26px;
  padding-right: 0;
  background-image: url("../images/icons/login.svg");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 16px 16px;
}

.button--login {
  padding-top: 14px;
  padding-bottom: 13px;
}

.button--logout {
  margin-left: 10px;
  background-image: url("../images/icons/login.svg");
  transform: rotate(180deg);
}

.button--profile {
  margin-left: 10px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: normal;
  text-transform: capitalize;
  background-image: url("../images/icons/user.svg");
}

.control-input {
  padding: 8px 13px 12px;
  border: 1px solid var(--basic-blue);
  border-radius: 2px;
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
}

.control-input::placeholder {
  color: var(--basic-grey-light);
}

.control-input.is-error {
  border: 1px solid var(--basic-red);
}

.control-input.is-error:hover {
  border: 1px solid var(--basic-red);
  box-shadow: inset 0 0 0 1px var(--basic-red);
}

.control-select {
  position: relative;
  max-width: max-content;
  margin-bottom: 31px;
}

.control-select__field {
  min-width: 280px;
  padding: 7px 32px 7px 16px;
  border: 1px solid var(--basic-blue);
  border-radius: 2px;
  font: inherit;
  color: var(--basic-blue-dark);
  appearance: none;
}

.control-select__icon {
  position: absolute;
  top: 50%;
  right: 11px;
  transform: translateY(-50%);
}

.control-input:focus,
.control-select__field:focus {
  color: var(--basic-blue-dark);
  border-color: var(--status-warning);
  box-shadow: inset 0 0 0 1px var(--basic-green);
  outline: none;
}

.control-input:hover,
.control-select__field:hover {
  color: var(--basic-blue-dark);
  border-color: var(--basic-green);
  box-shadow: none;
}

.control-select__field:hover {
  cursor: var(--cursor-pointer);
}

.control-input:disabled,
.control-select__field:disabled {
  border-color: var(--basic-grey-light);
  color: var(--basic-black);
  background-color: var(--basic-background);
  opacity: 0.5;
  pointer-events: none;
}

.control-checkbox__label {
  position: relative;
  display: block;
  margin-bottom: 22px;
  padding-left: 36px;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
}

.control-checkbox__label::before {
  position: absolute;
  left: 1px;
  width: 20px;
  height: 20px;
  border: 2px solid var(--basic-blue);
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center left 4px;
  content: "";
}

.control-checkbox__input:checked ~ .control-checkbox__label::before {
  background-image: url("../images/icons/checkbox.svg");
}

.control-radio__label {
  position: relative;
  display: block;
  margin-bottom: 22px;
  padding-left: 36px;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
}

.control-radio__label::before {
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  border: 2px solid var(--basic-blue);
  border-radius: 50%;
  content: "";
}

.control-radio__input:checked ~ .control-radio__label::before {
  background-image: radial-gradient(var(--basic-blue) 4px, transparent 4px);
}

.control-checkbox__input:focus ~ .control-checkbox__label::before,
.control-radio__input:focus ~ .control-radio__label::before {
  box-shadow: var(--focus-default);
  outline: none;
}

.control-checkbox:hover .control-checkbox__label,
.control-radio:hover .control-radio__label {
  box-shadow: none;
  cursor: var(--cursor-pointer);
}

.control-checkbox:hover .control-checkbox__label::before,
.control-radio:hover .control-radio__label::before {
  box-shadow: none;
  opacity: 0.6;
}

.control-checkbox:active .control-checkbox__label,
.control-radio:active .control-radio__label {
  box-shadow: none;
  opacity: 0.4;
}

.control-checkbox__input:disabled ~ .control-checkbox__label,
.control-radio__input:disabled ~ .control-radio__label {
  opacity: 0.5;
  pointer-events: none;
}

.control-checkbox__input:disabled ~ .control-checkbox__label::before,
.control-radio__input:disabled ~ .control-radio__label::before {
  border-color: var(--basic-grey-light);
  background-color: var(--basic-background);
  opacity: 1;
}

.navigation {
  margin-right: auto;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 0 32px;
  width: 810px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__link {
  display: block;
  min-width: 74px;
  padding: 19px 8px 27px;
  color: var(--basic-white);
  text-decoration: none;
  text-align: center;
}

.menu__item:first-child .menu__link {
  padding-left: 4px;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 0 16px;
  max-width: 350px;
}

.user-menu__item {
  min-width: 26px;
  min-height: 26px;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 18px 18px;
  color: var(--basic-white);
  text-decoration: none;
}

.user-menu__item--favorite {
  min-height: 70px;
  background-image: url("../images/icons/bookmark.svg");
  background-size: 16px 18px;
  background-position: top 45% left 5px;
}

.user-menu__item--cart {
  min-height: 70px;
  background-image: url("../images/icons/cart.svg");
  background-position: top 45% left 4px;
}

.user-menu__item--button {
  align-self: flex-start;
  margin-top: 11px;
  margin-left: 7px;
}

.menu__link:focus,
.menu__link:hover,
.user-menu__item:not(.user-menu__item--button):focus,
.user-menu__item:not(.user-menu__item--button):hover {
  color: var(--basic-grey-light);
  background-color: var(--basic-dark);
  cursor: var(--cursor-pointer);
  outline: none;
}

.menu__link:active {
  color: var(--basic-white);
}

.user-menu__counter {
  display: block;
  margin-top: 23px;
  padding-left: 27px;
  padding-right: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.dropdown {
  position: relative;
}

.dropdown__content {
  position: absolute;
  top: 14px;
  right: 0;
  z-index: 2;
  display: none;
  width: 360px;
  padding: 22px 29px 35px 31px;
  border-radius: 2px;
  background: var(--basic-white);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.dropdown:focus-within .dropdown__content {
  display: block;
}

.dropdown__title {
  margin-bottom: 45px;
}

.dropdown__content-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
  margin-bottom: 37px;
  margin-right: 3px;
  font-size: 14px;
  line-height: 18px;
}

.dropdown__content-columns:last-of-type {
  margin-bottom: 0;
}

.dropdown__label {
  display: block;
  margin-bottom: 7px;
}

.dropdown__label:last-of-type {
  margin-bottom: 12px;
}

.dropdown__input {
  width: 100%;
  padding: 7px 14px;
  border-color: var(--basic-grey-light);
  font: inherit;
}

.dropdown__checkbox .control-checkbox__label {
  margin-bottom: 0;
  padding-left: 31px;
  line-height: 20px;
}

.dropdown__link {
  padding-left: 3px;
  font: inherit;
  color: inherit;
  text-decoration: none;
}

.dropdown__link:focus {
  box-shadow: var(--focus-default);
  outline: none;
}

.dropdown__link:hover {
  box-shadow: none;
  opacity: 0.6;
}

.dropdown__link:active {
  box-shadow: none;
  opacity: 0.4;
}

.dropdown__content .button--login {
  padding-left: 22px;
  background-position: center left 26px;
  background-size: 16px 14px;
}

.dropdown__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  padding: 0;
  background: none;
  background-image: url("../images/icons/close.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.dropdown__close:focus {
  box-shadow: var(--focus-default);
  outline: none;
}

.dropdown__close:hover {
  box-shadow: none;
  opacity: 0.6;
  cursor: var(--cursor-pointer);
}

.dropdown__close:active {
  box-shadow: none;
  opacity: 0.3;
}

.profile {
  top: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.dropdown:focus-within .profile {
  display: flex;
}

.profile__title {
  margin-bottom: 18px;
}

.profile__link {
  padding: 5px;
  color: var(--basic-blue);
}

.profile__button {
  min-width: 146px;
  margin-top: 7px;
}

.promo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
  gap: 30px;
  margin-bottom: 50px;
  padding-top: 52px;
  color: var(--basic-white);
}

.promo__tile {
  --background-color: var(--special-grey);
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 180px;
  padding: 20px 165px 33px 25px;
  background-color: var(--background-color);
}

.promo__tile-icon {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 45px;
  right: 37px;
}

.item-new {
  position: relative;
  overflow: hidden;
}

.item-new::after {
  position: absolute;
  top: 7px;
  right: -28px;
  display: block;
  width: 100px;
  height: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-red);
  transform: rotate(45deg);
  content: "new";
}

.promo__tile:first-of-type,
.promo__tile:nth-of-type(2),
.promo__tile:nth-of-type(3) {
  margin-bottom: -3px;
}

.promo__tile:first-of-type,
.promo__tile:nth-of-type(6n) {
  --background-color: var(--status-warning);
}

.promo__tile:nth-of-type(6n-4) {
  --background-color: var(--special-blue);
}

.promo__tile:nth-of-type(6n-3) {
  --background-color: var(--special-lilac);
}

.promo__tile:nth-of-type(6n-2) {
  --background-color: var(--basic-blue);
}

.promo__tile:nth-of-type(6n-1) {
  --background-color: var(--special-green-light);
}

.promo__tile--big {
  grid-column: span 2;
  grid-row: span 2;
  padding: 0;
}

.promo__title {
  margin-bottom: 10px;
}

.promo__link {
  position: relative;
  display: block;
  margin-top: auto;
  padding: 11px 9px 9px 33px;
  border: 1px solid var(--basic-white);
  border-radius: 0;
  color: inherit;
}

.promo__link-icon {
  position: absolute;
  top: 50%;
  left: 11px;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
}

.promo__link:focus {
  box-shadow: 0 0 0 3px var(--background-color),
              0 0 3px 6px var(--basic-blue);
  outline: none;
}

.promo__link:hover {
  color: var(--basic-dark);
  border-color: var(--basic-blue);
  box-shadow: none;
  cursor: var(--cursor-pointer);
}

.promo__link:active {
  color: var(--basic-grey-light);
  border-color: var(--basic-grey-light);
}

.slider__slide-list {
  position: relative;
  z-index: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__slide {
  display: none;
  flex-direction: column;
  min-height: 390px;
  padding: 50px 51px;
}

.slider__slide.active {
  display: flex;
}

.slider__title {
  margin-bottom: 12px;
}

.slider__description {
  margin: 0;
  font-size: 18px;
  letter-spacing: normal;
}

.slider__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.slider__link {
  margin-top: auto;
  margin-right: auto;
  padding: 12px 24px 13px;
}

.slider__toggle {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
  background-color: rgba(41, 52, 73, 0.6);
  background-image: url("../images/icons/slider-toggle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transform: translateY(-50%);
}

.slider__toggle--prev {
  left: 19px;
  transform: translateY(-50%) rotate(180deg);
}

.slider__toggle--next {
  right: 18px;
}

.slider__toggle:focus {
  box-shadow: var(--focus-default);
  outline: none;
}

.slider__toggle:hover {
  background-color: var(--basic-blue-dark);
  box-shadow: none;
  cursor: var(--cursor-pointer);
}

.slider__toggle:active {
  opacity: 0.4;
}

.slider__pagination {
  position: absolute;
  left: 50%;
  bottom: 22px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
  transform: translateX(-50%);
}

.slider__pagination-item {
  width: 8px;
  height: 8px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  background-color: var(--special-yellow-light);
  opacity: 0.8;
}

.slider__pagination-item.active {
  background-color: var(--basic-white);
  opacity: 1;
}

.slider__pagination-item:focus {
  box-shadow: 0 0 0 2px var(--basic-blue-dark),
              0 0 3px 4px var(--basic-white);
  outline: none;
}

.slider__pagination-item:hover {
  background-color: var(--special-lilac);
  box-shadow: none;
  cursor: var(--cursor-pointer);
}

.slider__pagination-item:active {
  opacity: 0.4;
}

.catalog {
  display: grid;
  grid-template-columns: 220px 1fr;
  column-gap: 79px;
}

.catalog__heading {
  grid-column: span 2;
  margin-bottom: 24px;
}

.catalog__content {
  padding-top: 35px;
  padding-bottom: 53px;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 29px 30px;
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.products__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 27px 27px 25px;
  border: 1px solid var(--special-grey-light);
  border-radius: 2px;
}

.products__item.item-new::after {
  line-height: 34px;
}

.products__image {
  order: -1;
  display: block;
  margin-bottom: 13px;
}

.products__title {
  margin: 0;
  margin-bottom: 41px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: var(--basic-blue-dark);
  text-align: center;
}

.products__old-price {
  margin-top: auto;
  margin-bottom: -18px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  text-align: center;
  color: var(--special-grey);
  transform: translateY(-28px);
}

.products__price {
  align-self: center;
  min-width: 122px;
  margin-top: auto;
  padding: 11px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  transform: translateX(-9px);
}

.products__old-price ~ .products__price {
  margin-top: 0;
}

.products__price::after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 28px;
  height: 28px;
  border-radius: 4px;
  background-color: var(--basic-red);
  transform: translate(40%, -50%) rotate(-45deg);
  content: "";
}

.products__price:hover {
  cursor: var(--cursor-pointer);
}

.products__button-list {
  position: absolute;
  top: 65px;
  left: calc(50% + 4px);
  display: none;
  flex-direction: column;
  gap: 11px;
  min-width: 135px;
  max-height: 150px;
  transform: translateX(-50%);
  overflow-y: auto;
}

.products__button {
  padding: 11px;
}

.products__button--buy {
  padding-left: 30px;
  border-radius: 2px;
  color: var(--basic-white);
  background-color: var(--basic-green);
  background-image: url("../images/icons/cart.svg");
  background-repeat: no-repeat;
  background-position: center left 23px;
  background-size: 14px 14px;
}

.products__item:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.products__item:hover .products__image {
  opacity: 0.1;
}

.products__item:hover .products__button-list {
  display: flex;
}

.products__button:hover {
  cursor: var(--cursor-pointer);
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 17px;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 224px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__link {
  display: block;
  min-width: 50px;
  padding: 15px 14px 14px;
  border-radius: 2px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.pagination__link:focus {
  outline: none;
  box-shadow: var(--focus-default);
}

.pagination__link:hover {
  color: var(--basic-white);
  background-color: var(--basic-blue-dark);
  cursor: var(--cursor-pointer);
}

.pagination__link:active {
  opacity: 0.4;
}

.pagination__item.current .pagination__link {
  color: var(--basic-blue);
  background-color: var(--basic-white);
}

.pagination__button {
  padding: 13px 37px 14px;
}

.services {
  padding: 52px 0;
  background-color: var(--basic-grey-extralight);
}

.services__heading {
  margin-bottom: 30px;
  text-align: center;
}

.services__description {
  width: 556px;
  margin: 0 auto 65px;
  padding-left: 4px;
  font-size: 18px;
  color: var(--basic-blue-dark);
}

.services__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__item {
  display: flex;
  flex-direction: column;
  padding: 31px 24px 43px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  background-color: var(--basic-white);
}

.services__title {
  margin-bottom: 21px;
}

.services__text {
  margin: 0;
  padding: 0 2px;
}

.services__icon {
  order: -1;
  margin-bottom: 46px;
  color: var(--basic-red-hover);
}

.section-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 170px;
  padding-top: 52px;
  padding-bottom: 48px;
}

.about-us__heading,
.contacts__heading {
  margin-bottom: 22px;
}

.about-us__text,
.contacts__text {
  margin-top: 0;
  margin-bottom: 26px;
}

.contacts__link {
  display: block;
  cursor: var(--cursor-pointer);
}

.contacts__link:focus,
.contacts__link:hover {
  outline: none;
  box-shadow: var(--focus-default);
  cursor: var(--cursor-pointer);
}

.contacts__link:active {
  opacity: 0.4;
}

.about-us__button {
  display: inline-block;
  margin-top: 25px;
  padding: 13px 45px 14px;
}

.footer {
  background-color: var(--basic-dark);
  color: var(--basic-white);
}

.footer__copyrights {
  padding-top: 20px;
  padding-bottom: 22px;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-blue-dark);
}

.footer__content {
  display: flex;
  justify-content: space-between;
  padding-top: 29px;
  padding-bottom: 33px;
  background: inherit;
}

.footer__content--copyrights {
  padding-top: 0;
  padding-bottom: 0;
}

.footer__column {
  max-width: 50%;
}

.footer__column:last-child {
  text-align: right;
}

.footer__logo {
  margin-top: -29px;
  margin-bottom: 26px;
  padding: 13px 58px 17px 55px;
}

.footer__contacts {
  width: 330px;
  margin-top: 0;
  margin-bottom: 23px;
}

.form-subscribe {
  display: grid;
  grid-template-columns: 1fr 40px;
  gap: 3px 0;
}

.footer__text,
.form-subscribe__description {
  margin: 0;
}

.form-subscribe__description {
  grid-column: span 2;
}

.form-subscribe__input {
  width: 222px;
  margin-right: -2px;
  padding: 10px 15px;
  border-color: var(--basic-green);
  border-right-color: transparent;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-subscribe__button {
  border-radius: 2px;
  background-image: url("../images/icons/cart.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px 18px;
}

.footer__link {
  color: var(--special-yellow-light);
  text-decoration: none;
}

.footer__link--offset {
  display: block;
  margin-bottom: 29px;
}

.footer__link:focus {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: var(--status-warning);
  outline: none;
}

.footer__link:hover {
  text-decoration: none;
  color: var(--status-warning);
  cursor: var(--cursor-pointer);
}

.footer__link:active {
  opacity: 0.4;
}

.social {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  max-width: 260px;
  margin: 0;
  padding: 0 1px;
  list-style: none;
}

.social__link {
  display: block;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-position: center center;
}

.social__link--pinterst {
  background-image: url("../images/icons/social-pinterest.svg");
}

.social__link--vk {
  background-image: url("../images/icons/social-vk.svg");
}

.social__link--vsco {
  background-image: url("../images/icons/social-vsco.svg");
}

.social__link:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--basic-white),
              0 0 3px 4px var(--basic-blue-dark);
}

.social__link:hover {
  background-color: var(--basic-blue-dark);
  box-shadow: none;
  cursor: var(--cursor-pointer);
}

.social__link:active {
  opacity: 0.4;
}

.filter__fieldset {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  border: 0;
}

.filter__title {
  margin-bottom: 10px;
  padding: 0;
  font-weight: 700;
  text-transform: uppercase;
}

.filter__title--checkbox {
  margin-bottom: 17px;
}

.filter__title--radio {
  margin-bottom: 19px;
}

.range-double {
  position: relative;
  height: 40px;
  margin-bottom: 6px;
  border: 20px solid var(--special-grey-extralight);
  border-width: 19px 20px;
  border-radius: 2px;
  background-color: var(--basic-blue);
}

.range-double__interval {
  position: absolute;
  height: 100%;
  background-color: var(--status-success);
}

.range-double__toggle {
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid var(--basic-blue);
  border-radius: 50%;
  transform: translateY(-50%);
}

.range-double__toggle:last-child {
  left: auto;
  right: 0;
}

.range-double__toggle:focus {
  background-color: var(--basic-green-click);
  box-shadow: var(--focus-default);
  outline: none;
}

.range-double__toggle:hover {
  background-color: var(--basic-green-click);
  box-shadow: none;
  cursor: var(--cursor-pointer);
}

.range-double__toggle:active {
  background-color: var(--status-success);
  box-shadow: none;
}

.filter__field-group-inline {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: space-between;
  margin-bottom: 26px;
}

.filter__field-group-inline-input {
  width: 95px;
  padding: 10px 16px 12px;
  border: 0;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-blue-dark);
  background-color: var(--special-grey-extralight);
}

.filter__field-group-inline-input::-webkit-inner-spin-button,
.filter__field-group-inline-input::-webkit-outer-spin-button {
  margin: 0;
  appearance: none;
}

.filter__field-group-inline-input:focus {
  box-shadow: var(--focus-default);
  outline: none;
}

.filter__submit {
  width: 100%;
  margin-top: 27px;
  padding: 9px 11px;
  border: 2px solid var(--basic-blue);
  border-radius: 2px;
}

.filter__submit:hover {
  opacity: 0.6;
  cursor: var(--cursor-pointer);
}

.filter__submit:active {
  color: var(--basic-grey-light);
  border-color: var(--basic-grey-light);
}
